---
---

@import "{{ site.theme }}";

#sidebar {
  display: none !important;
}

body {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    background-image: url('../img/stars.png');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    color: lightblue;
  }
}