---
---

@import "{{ site.theme }}";

#sidebar {
  display: none !important;
}

body {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    background: url('../img/stars.png') no-repeat center center fixed;
    background-size: cover;
    color: blue;
  }
}